div label{
    line-height: 0.9;
    color: #615f5f;
    font-size: 14px;
}
.tracking-input::placeholder{
    font-size: 14px;
}


.tracking-input{
    font-weight: normal;
}

.tracking-input,.add-progress-input{
    outline:none;
    border: 0;
    border-bottom: 1px solid #c7c5c5 ;
    font-size: 13px;
}

/*  Labels */
.del-icon-wrap{
    position:absolute;
    z-index: 1000;
    right:10px;
    top:60px
}

