.quality-service,.value-for-money,.competitive-rates,.goods-safety{
    list-style: none;
}
.quality-service:before,
.value-for-money:before,
.competitive-rates:before,
.goods-safety:before{
    content: '';
    display: inline-block;
    height: 4em;
    width: 4em;
    background-size:contain; 	background-repeat:no-repeat;
}
.we-do-list{
    list-style:circle ;
}
.we-do-list li{
    color: #5c5a5a;
    font-size: 17px;
    font-family: arial, serif;
}
.value-for-money:before{
    background-image: url("/img/exchange.svg");
}.quality-service:before{
    background-image: url("/img/quality.svg");
}.goods-safety:before{
    background-image: url("/img/shield.svg");
}.competitive-rates:before{
    background-image: url("/img/star.svg");
}
