.intro-wrapper{
    width: 100%;
    /*background-image: url("/img/bg-subheader-about.jpg");*/
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /*overflow: hidden;*/
}
